/bootstrap/compiled.php
/vendor
/node_modules
#run sudo npm install gulp gulp-sass gulp-autoprefixer --save-dev --no-bin-links
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

tests/_output/*